
bin/res/crunch/*

bin/jarlist.cache

bin/classes.dex

bin/dexedLibs/*

bin/resources.ap_

bin/SmartDring.apk

gen/com/ihm/smartdring/R.java

bin/classes/com/ihm/smartdring/*

bin/AndroidManifest.xml
